<div class="w-100 py-2">
    <div class="flex flex-wrap justify-between text-lg font-sans">
        <a class="px-2 py-1 sm:p-2" href="/">
            Home
        </a>
        <div class="flex flex-wrap justify-end">
            <a class="px-2 py-1 sm:p-2" href="https://github.com/serverless-london/speakers" target="_blank">
                Apply to Speak
            </a>
            <a class="px2 py-1 sm:p-2" href="/previous">
                Previous Events
            </a>
            <a class="px2 py-1 sm:p-2" href="/coc">
                Code of Conduct
            </a>
        </div>
    </div>
</div>