
{% extends "layouts/default.njk" %}
{% set title = "Home" %}

{% block content %}
    {% include 'components/hero.njk' %}
    
    <div class="mx-auto container flex flex-wrap items-center mt-4 sm:mt-12 fg-base font-sans">
        {% include 'components/sponsors.njk'%}
    </div>

    <div class="mx-auto container">
        {% include 'components/playlist.njk' %}
    </div>

{% endblock%}