{% extends "layouts/page.njk" %}
{% set title = "Previous Events" %}

{% block content %}
    <div class="mx-auto container mt-16">
        {% include 'components/playlist.njk' %}
    </div>
{% endblock%}